QuotesOfWisdom/Service References/ServiceReference1/QService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuotesService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuotesService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuoteFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="quoteid" type="xs:int" />
      <xs:element minOccurs="0" name="quotesPerPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteFilter" nillable="true" type="tns:QuoteFilter" />
</xs:schema>