QuotesOfWisdom/Service References/ServiceReference1/QService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://apps.daksatech.com/quoteService/QService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://apps.daksatech.com/quoteService/QService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://apps.daksatech.com/quoteService/QService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuotesService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQService_getQuotes_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuotes" />
  </wsdl:message>
  <wsdl:message name="IQService_getQuotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="IQService_getQuotesWith100Characters_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuotesWith100Characters" />
  </wsdl:message>
  <wsdl:message name="IQService_getQuotesWith100Characters_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuotesWith100CharactersResponse" />
  </wsdl:message>
  <wsdl:portType name="IQService">
    <wsdl:operation name="getQuotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQService/getQuotes" message="tns:IQService_getQuotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQService/getQuotesResponse" message="tns:IQService_getQuotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getQuotesWith100Characters">
      <wsdl:input wsaw:Action="http://tempuri.org/IQService/getQuotesWith100Characters" message="tns:IQService_getQuotesWith100Characters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQService/getQuotesWith100CharactersResponse" message="tns:IQService_getQuotesWith100Characters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQService" type="tns:IQService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getQuotes">
      <soap:operation soapAction="http://tempuri.org/IQService/getQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQuotesWith100Characters">
      <soap:operation soapAction="http://tempuri.org/IQService/getQuotesWith100Characters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QService">
    <wsdl:port name="BasicHttpBinding_IQService" binding="tns:BasicHttpBinding_IQService">
      <soap:address location="http://apps.daksatech.com/quoteService/QService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>