QuotesOfWisdom/Service References/ServiceReference1/QService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://apps.daksatech.com/quoteService/QService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuotesService" />
  <xs:element name="getQuotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuotesService" minOccurs="0" name="qf" nillable="true" type="q1:QuoteFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getQuotesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotesWith100Characters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuotesService" minOccurs="0" name="qf" nillable="true" type="q2:QuoteFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuotesWith100CharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getQuotesWith100CharactersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>